<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<meta charset="ISO-8859-1">
<title>Choix Transporteur</title>
<link rel="stylesheet" href="/css/cart.css">
</head>
<body>
	<div layout:fragment="content">
		<div id="divParentChoixTransporteur">
			<a id="lienPanier" href="/products/all">Poursuivre mes Achats</a>

			<form th:each="tarif2 : ${tarifs}" th:action="@{/goToPayment}" method="post" th:object="${tarif}">
					<div th:text="'Prix : ' + ${tarif2.price}"></div>
					<div th:text="'transporteur : ' + ${tarif2.transporteur.name}"></div>
					<input type="text" th:name="idTarif" th:value="${tarif2.id}" />
					<input id="btnChoixTransporteur" type="submit" value="choisir ce transporteur" />
			</form>
	<!-- 
			<form th:action="@{/goToPayment}" th:object="${tarif}" method="post">
				<div id="tarif" class="d-flex col-6">
				<span> Tarifs - Transporteur </span>
				<select th:field="${tarif}" class="form-control form-control-sm">
					<option th:each="tarif2 : ${tarifs}" 
							th:value="${tarif2.id}"
							th:text="'Prix : ' + ${tarif2.price} + ' - transporteur : ' + ${tarif2.transporteur.name}">
					</option>
				</select>
				</div>
				<input id="btnChoixTransporteur" type="submit" value="Proceder au payment" class="btn btn-primary" />
			</form>
 -->
		</div>
	</div>


</body>
</html>