<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				layout:decorate="~{layout}">
	<head>
	    	<link rel="stylesheet" href="/css/home.css">
	</head>
	<body style="overflow: hidden">
		<div id="center" layout:fragment="content">
           <img id="logo" src="/photos/product/logo.PNG">
			<div class="overlay">
				<div class="content">
					Mathild-A<a href="/products/all">Accéder à la boutique</a>
				</div>
			</div>
		    
		</div>
	</body>
</html>