<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}" xmlns="http://www.w3.org/2000/svg">
<head>
<meta charset="ISO-8859-1">
<title>Tarifs By Transporteur</title>
</head>
<body>
	<div layout:fragment="content" style="flex-direction: column">
		<div>
			<span
				th:text="'Poids initial : ' + ${colis.initialWeight} +'kg'">
			</span>
			<span
				th:text="'Poids final  :' + ${colis.finalWeight} +'kg'">
			</span>
		</div>
		<hr>
		<div th:each="tarif : ${tarifs}">
			<div>
				<span
					th:text="'Prix : ' + ${tarif.price} + ' - transporteur : ' + ${tarif.transporteur.name}">
				</span>
			</div>
		</div>
	</div>

</body>
</html>