@import
	url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap')
	;

body {
	font-family: 'Manrope', sans-serif;
	background: #eee
}

#cart-end {
	border-top: 1px solid grey;
}

#article {
	border-top: 1px solid grey;
}

#article-info {
	justify-content: space-between;
}

#cart-end {
	justify-content: space-between;
}

#custom {
	justify-content: space-between;
	margin-left: 40px;
}

.size span {
	font-size: 11px
}

.color span {
	font-size: 11px
}

.product-deta {
	margin-right: 70px
}

.pay-button {
	_width: 100px;
	font-weight: bold;
	background: #FFE4DB;
	color: rgb(64, 0, 0);
	border: 0 none;
	border-radius: 0px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
	font-family: "Gill Sans", sans-serif;
}

.pay-button:hover, .pay-button:focus {
	_box-shadow: 0 0 0 2px white, 0 0 0 3px skyblue;
	transition: all 0.3s ease 0s;
	background: #E28787;
	color: white;
	letter-spacing: 2px;
}

.text-grey {
	color: #a39f9f
}

.qty i {
	font-size: 11px
}

#lienPanier, #btnChoixTransporteur {
	text-decoration: none;
	padding: 1vh 1vw;
	margin: 1vh 2vw;
	align-self: flex-start;
	font-weight: bold;
	background: #FFE4DB;
	color: black;
	border: 0 none;
	border-radius: 0px;
	cursor: pointer;
	font-family: "Gill Sans", sans-serif;
}

#lienPanier:hover, #btnChoixTransporteur:hover {
	text-decoration: none;
	transition: all 0.3s ease 0s;
	background: #E28787;
	color: white;
	letter-spacing: 1px;
}

#divParentChoixTransporteur {
	_background-color: olive;
	border: 1px solid hotpink;
	display: flex;
	flex-direction: column;
	align-items:stretch;
	flex-grow: 1;
}