* {
	margin: 0;
	padding: 0;
	font-family: "Gill Sans", sans-serif;
	_color: #00010D;
	_color: #F2F2F2;
	_color: #B4CBD9;
	_color: #254B59;
	_color: #366273;
}

@import
	url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap')
	;

body {
	font-family: 'Manrope', sans-serif;
}

#center {
	background-color: rgba(255, 255, 255, 0.9);
}

html {
	height: 100%
}

#msfo
rm {
	text-align: center;
	position: relative;
	_margin-top: 20px
}

#grad1 {
	_background-color: #F2F2F2;
}

#grad111, #grad11 {
	
}

#parent {
	border-radius: 0rem;
	box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px
		2px;
	background: none;
	flex-grow: 1;
	color: #00010D;
	_color: #F2F2F2;
	_color: #B4CBD9;
	_color: #254B59;
	_color: #366273;
}

.row {
	_display: flex;
	_flex-direction: column;
	_justify-content: center;
	_align-items: center;
}

#rowChild1 {
	_background-color: teal;
}

#msform fieldset .form-card {
	_padding: 20px 40px 30px 40px;
	box-sizing: border-box;
	width: 94%;
	margin-right: 2vw;
	margin-left: 2vw; _margin : 0 3% 20px 3%;
	position: relative;
	_margin: 0 3% 20px 3%;
}

#msform fieldset {
	_background: white;
	border: 0 none;
	box-sizing: border-box;
	width: 100%;
	margin: 0;
	padding-bottom: 20px;
	position: relative;
}

#msform fieldset:not(:first-of-type) {
	display: none;
}

#msform fieldset .form-card {
	text-align: left;
	color: #9E9E9E
}

#msform input, #msform textarea {
	padding: 0px 8px 4px 8px;
	border: none;
	border-bottom: 1px solid #ccc;
	border-radius: 0px;
	margin-bottom: 25px;
	margin-top: 2px;
	width: 100%;
	box-sizing: border-box;
	_font-family: montserrat;
	color: #2C3E50;
	font-size: 16px;
	letter-spacing: 1px;
}

#msform input:focus, #msform textarea:focus {
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	border: none;
	font-weight: bold;
	border-bottom: 2px solid rgb(64, 0, 0) !important;
	outline-width: 0
}

#msform .action-button {
	width: 150px;
	font-weight: bold;
	background: #FFE4DB; color : rgb( 64, 0, 0);
	border: 0 none;
	border-radius: 0px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
	font-family: "Gill Sans", sans-serif;
	color: rgb(64, 0, 0);
}

#msform .action-button:hover, #msform .action-button:focus {
	_box-shadow: 0 0 0 2px white, 0 0 0 3px skyblue;
	transition: all 0.3s ease 0s;
	background: #E28787; color : white;
	letter-spacing: 2px;
	color: white;
}

#msform .action-button-previous {
	width: 150px;
	font-weight: bold;
	background: #E28787; color : white;
	border: 0 none;
	border-radius: 0px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
	font-family: "Gill Sans", sans-serif;
	color: white;
}

#msform .action-button-previous:hover, #msform .action-button-previous:focus
	{
	transition: all 0.3s ease 0s;
	background: #FFE4DB; color : rgb( 64, 0, 0);
	letter-spacing: 2px;
	color: rgb(64, 0, 0);
}

select.list-dt {
	border: none;
	outline: 0;
	border-bottom: 1px solid #ccc;
	padding: 2px 5px 3px 5px;
	margin: 2px
}

select.list-dt:focus {
	border-bottom: 2px solid skyblue;
}

.card {
	z-index: 0;
	border: none;
	border-radius: 0.5rem;
	position: relative
}

.fs-title {
	font-size: 25px;
	color: rgb(64, 0, 0);
	margin-bottom: 10px;
	font-weight: bold;
	text-align: left
}

#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	color: #E28787;
}

#progressbar .active {
	color: rgb(64, 0, 0);
}

#progressbar li {
	list-style-type: none;
	font-size: 12px;
	_width: 25%;
	width: 33%;
	float: left;
	position: relative
}

#progressbar #account:before {
	font-family: FontAwesome;
	content: "\f023"
}

#progressbar #personal:before {
	font-family: FontAwesome;
	content: "\f007"
}

#progressbar #payment:before {
	font-family: FontAwesome;
	content: "\f09d"
}

#progressbar #confirm:before {
	font-family: FontAwesome;
	content: "\f00c"
}

#progressbar li:before {
	width: 50px;
	height: 50px;
	line-height: 45px;
	display: block;
	font-size: 18px;
	color: #ffffff;
	background-color: #E28787;;
	border-radius: 50%;
	margin: 0 auto 10px auto;
	padding: 2px
}

#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: #E28787;
	position: absolute;
	left: 0;
	top: 25px;
	z-index: -1
}

#progressbar li.active:before, #progressbar li.active:after {
	background: rgb(64, 0, 0);
}

.radio-group {
	position: relative;
	margin-bottom: 25px
}

.radio {
	display: inline-block;
	width: 204;
	height: 104;
	border-radius: 0;
	background: #E28787;
	box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
	cursor: pointer;
	margin: 8px 2px
}

.radio:hover {
	box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3)
}

.radio.selected {
	box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1)
}

.fit-image {
	width: 100%;
	object-fit: cover
}